@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    width: 100vw;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>div, nav {
    width: 100%;
    display: flex;
}

header>div {
    justify-content: space-between;
}

.search, .title, header button {
    display: flex;
    align-items: center;
}